#title{
    text-align: center;
  }
  .body{
    background-color: black;
    color: white;
  }
  .container{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
  }
  .body{
    background-color: black;
  }
  #copy{
    color: blue;
  }

  @media only screen and (max-width: 980px) {
    body {
        background-color: green;
    }
}
@media only screen and (max-width: 768px) {
    body {
        background-color: red;
    }
}
@media only screen and (max-width: 640px) {
    body {
        background-color: purple;
    }
    header{
        position: static;
    }
}